#params ol{
	list-style: none;
	margin : 15px;
}
#dataviz{
	margin:15px;
	width:100%;
	display:inline-block;
}
#hist{
display:inline-block;
width:auto;
float:left;
}
#wordcloud{
	float:right;
	display:inline-block;
	width:auto;
}
#tweetsTable td{
	width:33%;
	height:50px;
}